
.header-container {
    display: flex;
    align-items: center;   
    height: 80px; 
}
.header-list {
        display: flex;
    align-items: center; 
    margin-left: 93px;
}
.header-address-list {
    display: flex;
    align-items: center;
    margin-left: 344px;
}

.header-list {
    display: flex;
    gap: 50px;
}
.header-address-list {
    display: flex;
    gap: 50px;
}


.decitions-container {
    width: auto;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section1-tytle {
      width: 696px;
  height: 120px;
  margin-bottom: 30px;
}
.section1-button {
    width: 216px;
    height: 50px;
}
.little-container {
    width: 1170px;
    height: 98px;
}
.section2 {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section2-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.section2-item {
    width: 270px;
    height: 98px;
}
.section3-littletytle {
    margin-bottom: 50px;
}
.section3-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 94px;
}
.section4-littletytle {
    padding: 94px;
}
.section4-list {  
    display: flex;
    align-items: center;    
    gap: 30px; 
    margin-bottom: 94px;
}
.container-footer {
    height: 252px;
    width: auto;
    display: flex;
    justify-content: center; 
    flex-direction: column;  
}



