.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px; 
    margin-left: auto;
    margin-right: auto;
}
.header-list a {
  font-family: "roboto";
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.header-list {
    list-style: none;
}

.header-list a:hover {
  color: #2196F3;
}


.header-address-list a {
    font-family: "raleway";
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: #757575;}
.header-address-list{
list-style: none;
}

.header-address-list a:hover {
    color: #2196f3;
}
.decitions {
background: #2f303a;
}

.decitions-tytle {
    font-family: "raleway";
font-weight: 900;
font-size: 44px;
line-height: 136%;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #fff;
}
.decitions-button {
    font-family: "raleway";
font-weight: 700;
font-size: 16px;
line-height: 187%;
letter-spacing: 0.06em;
text-align: center;
color: #fff;
border-radius: 4px;
width: 216px;
height: 50px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #2196f3 
}
.details-list {
    list-style: none;
}
.details-littletytle {
    font-family: "raleway";
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
font-style: bold;
}
.details-text {
    font-family: "roboto";
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: #757575;
}
.details-list {
    list-style: none;
}
.doing-littletytle {
    font-family: "roboto";
font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
font-style: bold;
}
.doing-item {
    width: 370px;
height: 294px;
}
.team {
    background: #f5f4fa;
}

.team-littletytle {
    font-family: "roboto";
font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
font-style: bold;
}
.team-item{
    border-radius: 0 0 4px 4px;
width: 270px;
height: 368px;
list-style: none;
background-color: #fff;
}
.team-img {
    width: 270px;
height: 260px;
}

.team-smallertytle {
    font-family: "roboto";
font-weight: 500;
font-size: 16px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}
.team-text {
    font-family: "roboto";
font-weight: 400;
font-size: 16px;
letter-spacing: 0.03em;
text-align: center;
color: #757575;
}
.studio1 {
    color: #f5f4fa;
}
.footer {
    background: #2f303a;
}

.footer-address-text {
    font-family: "roboto";
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: #fff;
}
.footer-address-link {
    font-family: "roboto";
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.buttons-button {
    font-family: "roboto";
font-weight: 500;
font-size: 16px;
line-height: 162%;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}
.buttons-list {
    list-style: none;
}
.buttons-button{
    font-family: "roboto";
font-weight: 500;
font-size: 16px;
line-height: 162%;
letter-spacing: 0.03em;
text-align: center;
color: black;
}
.sites-little{
    font-family: "roboto";
font-weight: 700;
font-size: 18px;
line-height: 200%;
letter-spacing: 0.06em;
color: #212121;
}
.sites-text{
    font-family: "roboto";
font-weight: 400;
font-size: 16px;
line-height: 187%;
letter-spacing: 0.03em;
color: #757575;
}
.header-text{
    font-family: "raleway";
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
color: #2196f3;
}
.web {
    font-family: "raleway";
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
color: #2196f3;  
}
.studio {
    font-family: "raleway";
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
color: black;  
}
.studio1 {
        font-family: "raleway";
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
color: rgb(255, 255, 255);  

}










.header-container {
    display: flex;
    align-items: center;   
    height: 80px; 
}
.header-list {
        display: flex;
    align-items: center; 
    margin-left: 93px;
}
.header-address-list {
    display: flex;
    align-items: center;
    margin-left: 344px;
}

.header-list {
    display: flex;
    gap: 50px;
}
.header-address-list {
    display: flex;
    gap: 50px;
}

.decitions {
    background-color: #2F303A;
    min-height: 600px;        
    display: flex;      
    align-items: center;    
    justify-content: center;   
}

.decitions-container {
    text-align: center;
}

.decitions-tytle {
    font-size: 44px;
    font-weight: 900;
    letter-spacing: 0.06em;
    line-height: 1.36;
    color: #ffffff;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.decitions-button {
    background-color: #2196F3;
    color: #ffffff;
    width: 216px;
    height: 50px;
    border: none;
    border-radius: 4px;
}

.decitions-container {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}



.little-container {
    width: 1170px;
    height: 98px;
}
.details-item::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
  border-radius: 4px;
}
.details-item:nth-child(1)::before {
  background-image: url("./img/antenna.png");
}

.details-item:nth-child(2)::before {
  background-image: url("./img/clock.png");
}

.details-item:nth-child(3)::before {
  background-image: url("./img/diagram.png");
}

.details-item:nth-child(4)::before {
  background-image: url("./img/austranaut.png");
}

.details {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-bottom: 94px;
}
.details-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.details-item {
    width: 270px;
    height: 98px;
}


.doing-littletytle {
    margin-bottom: 50px;
}
.doing-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-bottom: 94px;
}
.doing-item {
    width: 370px;
    height: 294px;
}
.team-littletytle {
    padding: 94px;
}
.team-list {  
    display: flex;
    align-items: center;    
    gap: 30px; 
    padding-bottom: 94px;
}
.container-footer {
    height: 252px;
    width: auto;
    display: flex;
    justify-content: center; 
    flex-direction: column;  
}
.webstudio2 {
    padding-top: 60px;
}
.footer-address {
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-top: 20px;
}
.buttons-list {
    height: 54px;
    display: flex;
    justify-content: center;
    gap: 8px;
}
.buttons-item {

    border: 1px solid transparent;
    background: #f5f4fa;
    border-radius: 4px;
    height: 38px;
    padding: 0 22px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 93px;
    margin-bottom: 50px;
}

.buttons-item a {
    color: #212121;
    text-decoration: none;
    font-weight: 500;
}
.buttons-item:hover {
    background-color: #2196F3;
}

.buttons-item:hover * {
    color: white;
}
.sites {
    margin-top: 50px;
    margin-bottom: 95px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.sites-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    margin: 0;
}

.sites-item {
    width: 370px;
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: #fff;
}


.sites-img {
    width: 100%;
    display: block;
}

.sites-little {
    margin: 20px 24px 10px 24px;
    font-size: 18px;
    font-weight: 700;
    color: #212121;
}

.sites-text {
    margin: 0 24px 20px 24px;
    font-size: 16px;
    color: #757575;
}


