.img {
  font-family: 'Raleway', bold;
  font-weight: 700;
}
body {
    font-family: 'roboto';
    color: #212121;
}

a:hover {
  color: #2196F3;
}
.bold {
    font-family: 'roboto', bold;
} 
.end {
  color: #FFFFFF99;
  background-color: #2F303A;
}
p {
  color: #757575 ;
}

header > address {
    color: #757575;
}
.white {
  color: white;
  background-color: #2F303A;
}