.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px; 
    margin-left: auto;
    margin-right: auto;
}
.header-list a {
  font-family: "roboto";
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.header-list {
    list-style: none;
}

.header-list a:hover {
  color: #2196F3;
}


.header-address-list a {
    font-family: "raleway";
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: #757575;}
.header-address-list{
list-style: none;
}

.header-address-list:hover a {
    color: #2196f3;
}
.section1 {
background: #2f303a;
}

.section1-tytle {
    font-family: "raleway";
font-weight: 900;
font-size: 44px;
line-height: 136%;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #fff;
}
.section1-button {
    font-family: "raleway";
font-weight: 700;
font-size: 16px;
line-height: 187%;
letter-spacing: 0.06em;
text-align: center;
color: #fff;
border-radius: 4px;
width: 216px;
height: 50px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #2196f3 
}
.section2-list {
    list-style: none;
}
.section2-littletytle {
    font-family: "raleway";
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
font-style: bold;
}
.section2-text {
    font-family: "roboto";
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: #757575;
}
.section3-list {
    list-style: none;
}
.section3-littletytle {
    font-family: "roboto";
font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
font-style: bold;
}
.section3-item {
    width: 370px;
height: 294px;
}
.section4 {
    background: #f5f4fa;
}

.section4-littletytle {
    font-family: "roboto";
font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
font-style: bold;
}
.section4-item{
    border-radius: 0 0 4px 4px;
width: 270px;
height: 368px;
list-style: none;
background-color: #fff;
}
.section4-img {
    width: 270px;
height: 260px;
}

.section4-smallertytle {
    font-family: "roboto";
font-weight: 500;
font-size: 16px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}
.section4-text {
    font-family: "roboto";
font-weight: 400;
font-size: 16px;
letter-spacing: 0.03em;
text-align: center;
color: #757575;
}
.studio1 {
    color: #f5f4fa;
}
.footer {
    background: #2f303a;
}

.footer-address-text {
    font-family: "roboto";
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: #fff;
}
.footer-address-link {
    font-family: "roboto";
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.section5-button {
    font-family: "roboto";
font-weight: 500;
font-size: 16px;
line-height: 162%;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}
.section6-list {
    list-style: none;
}
.section6-little{
    font-family: "roboto";
font-weight: 700;
font-size: 18px;
line-height: 200%;
letter-spacing: 0.06em;
color: #212121;
}
.section6-text{
    font-family: "roboto";
font-weight: 400;
font-size: 16px;
line-height: 187%;
letter-spacing: 0.03em;
color: #757575;
}
.header-text{
    font-family: "raleway";
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
color: #2196f3;
}
.web {
    font-family: "raleway";
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
color: #2196f3;  
}
.studio {
    font-family: "raleway";
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
color: black;  
}
.studio1 {
        font-family: "raleway";
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
color: rgb(255, 255, 255);  
}

.header-container {
    display: flex;
    align-items: center;   
    height: 80px; 
}
.header-list {
        display: flex;
    align-items: center; 
    margin-left: 93px;
}
.header-address-list {
    display: flex;
    align-items: center;
    margin-left: 344px;
}

.header-list {
    display: flex;
    gap: 50px;
}
.header-address-list {
    display: flex;
    gap: 50px;
}


.decitions-container {
    width: auto;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section1-tytle {
      width: 696px;
  height: 120px;
  margin-bottom: 30px;
}
.section1-button {
    width: 216px;
    height: 50px;
}
.little-container {
    width: 1170px;
    height: 98px;
}
.section2 {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section2-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.section2-item {
    width: 270px;
    height: 98px;
}
.section3-littletytle {
    margin-bottom: 50px;
}
.section3-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 94px;
}
.section4-littletytle {
    padding: 94px;
}
.section4-list {  
    display: flex;
    align-items: center;    
    gap: 30px; 
    margin-bottom: 94px;
}
.container-footer {
    height: 252px;
    width: auto;
    display: flex;
    justify-content: center; 
    flex-direction: column;  
}
