.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px; 
    margin-left: auto;
    margin-right: auto;
}
.header-list {
    font-family: "roboto";
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #212121;
    font-style: medium;
}
.header-list :hover {
    color: #2196F3;
}
.header-address-list {
    font-family: "roboto";
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #757575;
}
.section1-tytle {
    font-family: "roboto";
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}
.section1-button {
    border-radius: 4px;
    width: 216px;
    height: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #2196f3 
}
.section2-littletytle {
    font-family: "roboto";
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
font-style: bold;
}
.section2-text {
    font-family: "roboto";
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: #757575;
}
.section3-littletytle {
    font-family: "roboto";
font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
font-style: bold;
}

.section4-littletytle {
    font-family: "roboto";
font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
font-style: bold;
}
.section4-smallertytle {
    font-family: "roboto";
font-weight: 500;
font-size: 16px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}
.section4-text {
    font-family: "roboto";
font-weight: 400;
font-size: 16px;
letter-spacing: 0.03em;
text-align: center;
color: #757575;
}
.footer-address-text {
    font-family: "roboto";
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: #fff;
}
.footer-address-link {
    font-family: "roboto";
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.section5-button {
    font-family: "roboto";
font-weight: 500;
font-size: 16px;
line-height: 162%;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}
.section6-little{
    font-family: "roboto";
font-weight: 700;
font-size: 18px;
line-height: 200%;
letter-spacing: 0.06em;
color: #212121;
}
.section6-text{
    font-family: "roboto";
font-weight: 400;
font-size: 16px;
line-height: 187%;
letter-spacing: 0.03em;
color: #757575;
}
.header-text{
    font-family: "raleway";
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
color: #2196f3;
}
.Web {
      font-family: "raleway";
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
color: #2196f3;  
}
.Studio {
          font-family: "raleway";
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
color: black;  
}
