* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

ul, ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.html {
  scroll-behavior: smooth;
}

.webstudio {
  margin-right: auto;
}

.studio1 {
  color: #f5f4fa;
}

.animate__animated {
  display: inline-block;
  margin: 0 0.5rem;
  animation: headShake;
  animation-duration: 2s;
}

.header {
  border-bottom: 1px solid black;
}
.header__container {
  display: flex;
  align-items: center;
  height: 80px;
}
.header__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px;
  padding-left: 91px;
}
.header__list a {
  font-family: "roboto";
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__list a:hover {
  color: #2196F3;
}
.header__link {
  position: relative;
  text-decoration: none;
  color: #212121;
  padding: 32px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover::after {
  opacity: 1;
}
.header__address {
  font-style: normal;
  margin-left: auto;
}
.header__address-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px;
}
.header__address-list a {
  font-family: "raleway";
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
}
.header__address-list a:hover {
  color: #2196f3;
}
.header__address-list a:hover .header__icon {
  fill: #2196f3;
}
.header__address-list a:hover .header__icon2 {
  fill: #2196f3;
}
.header__address-link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__icon {
  width: 16px;
  height: 12px;
  fill: #757575;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__icon2 {
  width: 10px;
  height: 16px;
  fill: #757575;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__text {
  font-family: "raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.header__web {
  font-family: "raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.header__studio {
  font-family: "raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #212121;
}

.decitions {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/./img/people.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 190px;
  padding-bottom: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.decitions__container {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}
.decitions__tytle {
  font-family: "raleway";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 40px;
}
.decitions__button {
  font-family: "raleway";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  width: 216px;
  height: 50px;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.decitions__button:hover {
  background-color: #188ce8;
}

.doing {
  padding-top: 94px;
}
.doing__littletytle {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}
.doing__list {
  display: flex;
  gap: 30px;
  padding-bottom: 94px;
}
.doing__item {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}
.doing__img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.doing__text {
  font-family: "roboto";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(47, 48, 58, 0.8);
}

.details-list {
  list-style: none;
}

.details-littletytle {
  font-family: "raleway";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  font-style: bold;
}

.details-text {
  font-family: "roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}

.details-list {
  list-style: none;
}

.details-item::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
  border-radius: 4px;
}

.details-item:nth-child(1)::before {
  background-image: url("./img/antenna.webp");
}

.details-item:nth-child(2)::before {
  background-image: url("./img/clock.webp");
}

.details-item:nth-child(3)::before {
  background-image: url("./img/diagram.webp");
}

.details-item:nth-child(4)::before {
  background-image: url("./img/astronaut.webp");
}

.details {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-bottom: 94px;
}

.details-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.details-item {
  width: 270px;
  height: 98px;
}

.team {
  background: #f5f4fa;
}
.team__littletytle {
  font-family: "roboto";
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  padding-top: 94px;
  padding-bottom: 50px;
}
.team__list {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-bottom: 94px;
}
.team__item {
  width: 270px;
  height: 428px;
  list-style: none;
  border-radius: 0 0 4px 4px;
  background: #fff;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
}
.team__img {
  width: 270px;
  height: 260px;
}
.team__smallertytle {
  font-family: "roboto";
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  padding-top: 30px;
  padding-bottom: 15px;
}
.team__text {
  font-family: "roboto";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}
.team__group-icon {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 23px;
}
.team__item2 {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__item2:hover {
  background-color: #2196f3;
}
.team__item2:hover .team__icon {
  fill: #fff;
}
.team__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__container {
  padding-top: 95px;
  padding-bottom: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.client__text {
  font-family: "roboto";
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}
.client__list {
  display: flex;
  gap: 30px;
}
.client__border {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__border:hover {
  border-color: #2196f3;
}
.client__border:hover .client__icon {
  fill: #2196f3;
}
.client__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background: #2f303a;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer__container {
  display: flex;
  align-items: baseline;
}
.footer__text {
  font-family: "roboto";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
.footer__address {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 20px;
}
.footer__address-text {
  font-family: "roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #fff;
}
.footer__address-link {
  font-family: "roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__icons {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}
.footer__list {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.footer__border {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__border:hover {
  background-color: #2196f3;
}
.footer__icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}
.footer__subscribe {
  margin-left: auto;
}
.footer__input {
  width: 358px;
  height: 50px;
  margin-top: 20px;
  padding-left: 15px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: transparent;
  color: rgba(255, 255, 255, 0.6);
  font-family: "roboto";
  font-size: 16px;
  line-height: 1.25;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}
.footer__btn {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  border-radius: 4px;
  background: #2196f3;
  color: #fff;
  font-family: "roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}
.footer__svg {
  width: 24px;
  height: 24px;
  fill: #fff;
}
.footer__web {
  font-family: "raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.footer__studio {
  font-family: "raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.524);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  width: 528px;
  height: 581px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  background: #fff;
  cursor: pointer;
}
.modal__btn:hover .modal__icon {
  fill: #2196F3;
}
.modal__icon {
  width: 11px;
  height: 11px;
  fill: black;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}
.modal__label {
  font-family: "Roboto";
  font-size: 12px;
  color: #757575;
  display: block;
  position: relative;
}
.modal__input, .modal .modal-input {
  outline: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  border: none;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover, .modal .modal-input:hover, .modal__input:focus, .modal .modal-input:focus {
  outline: 1px solid #2196F3;
}
.modal__input:hover + .modal__pic, .modal .modal-input:hover + .modal__pic, .modal__input:focus + .modal__pic, .modal .modal-input:focus + .modal__pic {
  fill: #2196F3;
}
.modal__pic {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 28px;
  left: 12px;
  fill: #2F303A;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__comment {
  outline: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  border: none;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
  margin-top: 4px;
  margin-bottom: 20px;
}
.modal__box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__check {
  width: 16px;
  height: 16px;
}
.modal__text {
  font-size: 14px;
  color: #757575;
  margin-left: 9px;
  margin-right: 4px;
}
.modal__link {
  font-size: 14px;
  text-decoration: underline;
  color: #2196f3;
}

.submit__btn {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  background: #2196f3;
  display: block;
  margin: 30px auto 0;
  border: none;
  cursor: pointer;
}

.buttons__list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 94px;
  margin-bottom: 50px;
}
.buttons__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  padding: 0 22px;
  border-radius: 4px;
  background-color: #f5f4fa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons__item:hover {
  background-color: #2196f3;
}
.buttons__item:hover .buttons__button {
  color: #fff;
}
.buttons__button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-family: "roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sites {
  margin: 50px 0 95px;
  padding: 50px 0;
}
.sites__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  margin: 0;
}
.sites__item {
  width: 370px;
  border: 1px solid #eee;
  border-radius: 4px;
  background: #fff;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0 4px 4px rgba(0, 0, 0, 0.06), 0 1px 1px rgba(0, 0, 0, 0.12);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sites__item:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.14);
}
.sites__item:hover .sites__overlay {
  transform: translateY(0);
}
.sites__box {
  position: relative;
  overflow: hidden;
}
.sites__img {
  width: 100%;
  display: block;
}
.sites__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  box-sizing: border-box;
  background-color: rgba(33, 150, 243, 0.9);
  color: #fff;
  font-family: "roboto";
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sites__title {
  margin: 20px 24px 10px;
  font-family: "roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.sites__text {
  margin: 0 24px 20px;
  font-family: "roboto";
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}/*# sourceMappingURL=main.css.map */