.animate__animated {
  display: inline-block;
  margin: 0 0.5rem;

  animation: headShake; 
  animation-duration: 2s;
}
.header {
  border-bottom: 1px solid black;

  &__container {
    display: flex;
    align-items: center;
    height: 80px;
  }

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
    padding-left: 91px;

    a {
      font-family: "roboto";
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.02em;
      color: #212121;
      text-decoration: none;
      background-repeat: no-repeat;
      background-size: cover;

      &:hover {
        color: #2196F3;
      }
    }
  }

  &__link {
    position: relative;
    text-decoration: none;
    color: #212121;
    padding: 32px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4px;
      background-color: #2196F3;
      border-radius: 2px;
      opacity: 0;
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover::after {
      opacity: 1;
    }
  }

  &__address {
    font-style: normal;
    margin-left: auto;
  }

  &__address-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;


    a {
      font-family: "raleway";
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.02em;
      color: #757575;

      &:hover {
        color: #2196f3;
      }

      &:hover .header__icon {
        fill: #2196f3;
      }

      &:hover .header__icon2 {
        fill: #2196f3;
      }
    }
  }

  &__address-link {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon {
    width: 16px;
    height: 12px;
    fill: #757575;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon2 {
    width: 10px;
    height: 16px;
    fill: #757575;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__text {
    font-family: "raleway";
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #2196f3;
  }
  &__web {
    font-family: "raleway";
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
color: #2196f3;
  }
&__studio {
  font-family: "raleway";
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
color: #212121;
}
}